# Order is important. The last matching pattern has the most precedence.

/.github/                                                      @philippemnoel @rebasedming
/images/                                                       @philippemnoel @rebasedming
/pages/                                                        @philippemnoel @rebasedming
